@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LIQUIDO";
  src: url("./Assets/Fonts/liquido.otf");
}
@font-face {
  font-family: "GLASSURE";
  src: url("./Assets/Fonts/Glassure.otf");
}

body {
  cursor: none;
}

.cursor {
  width: 16px;
  height: 16px;
  background: black;
  border-radius: 50%;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
  pointer-events: none;
  transform: translate(-50%, -50%);
  position: fixed;
}

.expand {
  animation: cursorClick .3s forwards;
}

.shrink {
  animation: cursorRelease .3s forwards;
}

@keyframes cursorClick {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    transform: translate(-50%, -50%) scale(1.35);
  }
}

@keyframes cursorRelease {
  from {
    transform: translate(-50%, -50%) scale(1.35);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}